.relative.inline-block data-controller="dropdown"
  div
    button[
      aria-expanded="true"
      aria-haspopup="true"
      data-action="dropdown#toggle"]
      = content
  .hidden.absolute.z-10.mt-2.w-56.divide-y.divide-slate-200.rounded-md.bg-white.shadow-lg.ring-1.ring-black.ring-opacity-5.focus:outline-none[
    class=(pop_direction_class)
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="menu-button"
    tabindex="-1"
    data-dropdown-target="menu"]
    - lists.each do |list|
      = list
